a {
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

.social-media-icons {
    font-size: 2.5rem;
    text-decoration: none;
}

@media only screen and (max-width: 992px) {    
    .second {
        margin-left: 1%;
    }

  }

@media only screen and (min-width: 992px) {  

    .list-head {
        padding-left: 1%;
    }

    .second {
        margin-left: 15%;
    }
  }



