body {
    background-color: #969796;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

.social-media-icons {
    font-size: 2.5rem;
    text-decoration: none;
}


.home-wrapper {
    width: 100%;
}

.home-logo {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: #111111;
    margin-top: 7%;
    margin-bottom: 2%;
}

.text-wrapper {
    width: 100%;
    text-align: center;
    color: #111111;
    background-color: rgba(0,0,0,0.3);
    padding-top: 2%;
}

.title {
    text-align: center;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    margin-bottom: 2%;
    width: 100%;
    border: none;
    font-size: 2.5rem;
}

.white-text {
    color: #eeeeee;
}

.title:after, .title:before {
    justify-content: center;
    content:'\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
    text-decoration: line-through #111111;
    margin: auto 0.5em;
}

.sub-title {
    text-align: center;
    font-family: 'Mitr', sans-serif;
    width: 80%;
    margin-left: 10%;
    font-size: 1.75rem;
    margin-bottom: 5%;
    padding-bottom: 2%;
    font-weight: 600;
}

.our-team-title {
    text-align: center;
    font-family: 'Mitr', sans-serif;
    font-weight: 900;
    margin-top: 3%;
    color: #111111;
    margin-bottom: 5%;
}

.card-wrapper {
    width: 90%;
    margin-left: 5%;
}

.column {
    float: left;
    width: 33.33%;
    justify-content: center;
}
  
  .row {
      margin: 0 -5px;
}

.card {
    width: 100%;
    margin-bottom: 5%;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media only screen and (max-width: 800px) {
    .column {
      width: 50%;
      display: inline-block;
      margin-bottom: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .column {
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;
    }
}


@media only screen and (max-width: 992px) {    
    .second {
        margin-left: 1%;
    }
}

@media only screen and (min-width: 992px) {
    .list-head {
        padding-left: 1%;
    }

    .second {
        margin-left: 15%;
    }
}





